*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f4f6f8;
padding:20px;
transition:0.3s;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
flex-wrap:wrap;
}

.controls{
display:flex;
gap:10px;
}

button{
padding:8px 14px;
border:none;
border-radius:5px;
cursor:pointer;
}

#addBtn{background:#4CAF50;color:white;}
#exportBtn{background:#2196F3;color:white;}

#notesContainer{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(230px,1fr));
gap:15px;
}

/* NOTE CARD */

.note{
padding:12px;
border-radius:8px;
min-height:180px;
display:flex;
flex-direction:column;
position:relative;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
transition:0.2s;
cursor:grab;
}

.note:hover{
transform:scale(1.03);
}

.note input{
border:none;
background:transparent;
font-weight:bold;
margin-bottom:6px;
outline:none;
}

.note textarea{
border:none;
resize:none;
flex:1;
background:transparent;
outline:none;
}

/* NOTE ACTIONS */

.actions{
display:flex;
justify-content:space-between;
margin-top:6px;
}

.delete{
cursor:pointer;
color:red;
}

.pin{
cursor:pointer;
}

/* COLORS */

.yellow{background:#fff475;}
.pink{background:#ffd6e7;}
.blue{background:#d6f0ff;}
.green{background:#d7ffd9;}

/* DARK MODE */

.dark{
background:#1e1e1e;
color:white;
}

.dark .note{
color:#222;
}
